<h2 class="text-center">Admin Registration</h2>
<div class="container">
<form [formGroup]= "id" id="data" >
  
<div class="form-group">
    <label for="name" >Name</label>
    <!-- <div class="col-sm-3"> -->
    <input type="text" class="col-sm-5" id="name" formControlName="name" class="form-control">
  <!-- </div> -->
    
    <span class="span-for-errors"  *ngIf="id.get('name').touched && id.get('name').errors">Please enter name</span>
  </div>
  <div class="form-group">
      <label for="mail">E-mail</label>
    <!-- <div class="col-sm-3"> -->
      
      <input type="text" id="name" formControlName="mail" class="form-control">
      <!-- </div> -->
      <span class="span-for-errors"  *ngIf="id.get('mail').touched && id.get('mail').errors">Please enter email</span>
    </div>
    <div class="form-group">
        <label for="mobile" >Mobile no</label>
    <!-- <div class="col-sm-3"> -->
        
        <input type="text" id="name" formControlName="mobileno" class="form-control">
        <!-- </div> -->
        <span class="span-for-errors" *ngIf="id.get('mobileno').touched && id.get('mobileno').errors">Please enter mobile no</span>
      </div>
      <div class="form-group">
          <label for="location" >Location</label>
    <!-- <div class="col-sm-3"> -->
        <div class="card">
          
          <select id="location"  formControlName="loc" >
              <!-- <option value="">None</option> -->
          <option value="Hyderabad">Hyderabad</option>
          <option value="Chennai">Chennai</option>
          <option value="Pune">Pune</option>
          <option value="Bangalore">Bangalore</option>
        
        </select>
      </div>
        <!-- </div> -->
         <span class="span-for-errors" *ngIf="id.get('loc').touched && id.get('loc').errors">Please select location</span>
        </div>
        <div id="btn">
          <button type="button">Cancel</button>
          <button type="button">Register</button>
          </div>
        </form>
          </div>
    
          